/* At-Rules

    At-rules são instruções CSS que instruem o CSS sobre como se comportar. Eles começam com um sinal de arroba, '@', seguido por um identificador e inclui tudo até o próximo ponto-e-vírgula, ';', ou o próximo bloco CSS, o que ocorrer primeiro.

    Sintaxe

        - @IDENTIFIER (RULE);
    
    Valores

        - @charset: A regra @charset especifica a codificação de caracteres utilizada na folha de estilo. Deve ser o primeiro elemento na folha de estilo e não ser precedida de qualquer caráter; uma vez que não é uma declaração aninhada, ele não pode ser usado dentro de um grupo condicional de regras. Se vários @charset são definidos, apenas o primeiro é usado, e não pode ser usado dentro de um atributo de estilo em um elemento HTML ou dentro do elemento <style>, onde o conjunto de caracteres da página HTML é relevante.

            Exemplo:

                - @charset "utf-8";

        - @font-face: O @font-face CSS at-rule especifica uma fonte customizada com a qual exibe o texto; a fonte pode ser carregada de um servidor remoto ou de uma fonte instalada localmente no computador do usuário. Se a função local() for fornecida, a especificação do nome da fonte a ser procurada no computador do usuário, e a user agent encontrar uma correspondência, essa fonte local será usada. Caso contrário, o recurso de fonte especificado usando a função url() é baixado e usado. Ao permitir que os autores forneçam suas próprias fontes, @font-face torna possível projetar conteúdo sem se limitar às chamadas fontes "seguras para a web" (ou seja, as fontes que são tão comuns que são consideradas como universalmente disponível). A capacidade de especificar o nome de uma fonte instalada localmente a ser procurada e usada permite personalizar a fonte além do básico, ao mesmo tempo em que é possível fazê-lo sem depender de uma conexão com a Internet. É comum usar url() e local() juntos, para que a cópia instalada da fonte do usuário seja usada, se disponível, voltando ao download de uma cópia da fonte, caso ela não seja encontrada no dispositivo do usuário. A regra de CSS @font-face pode ser usada não apenas no nível superior de um CSS, mas também dentro de qualquer CSS conditional-group at-rule.

            Exemplo:

                @font-face {
                    font-family: "Open Sans";
                    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
                         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
                }

            Descritores:

                - font-display;

                - font-family;

                - font-stretch;

                - font-style;

                - font-weight;

                - font-variant;

                - font-feature-settings;

                - src;

        @import: A Regra Atribuída (at-rule) CSS @import é usado para importar regras de estilo de outras folhas de estilo. Estas regras devem preceder todos os outros tipos de regras, exceto as  regrasde @charset ; uma vez que não é um Declaração aninhada, @import não pode ser usado dentro do grupo condicional de regras atribuídas (at-rules). Assim como os agentes do usuário podem evitar a recuperação de recursos para os tipos de mídia incompatíveis, os autores podem especificar regras @import dependentes de mídia. Estas importações condicionais devem ter media queries separadas por vírgulas após a URI. Na ausência de qualquer consulta de mídia (media queries), a importação é incondicional. Especificando todos para o médio tem o mesmo efeito.

            Exemplo:

                @import 'custom.css';
        
        @keyframes: A regra at CSS @keyframes controla as etapas intermediárias em uma sequência de animação CSS, definindo estilos para quadros-chave (ou pontos de passagem) ao longo da sequência de animação. Isso dá mais controle sobre as etapas intermediárias da sequência de animação do que as transições. Para usar quadros-chave, crie uma regra @keyframes com um nome que será usado pela propriedade animation-name  para fazer a correspondência de uma animação com sua declaração de quadro-chave. Cada regra @keyframes contém uma lista de estilos de seletores de quadros-chave, que especificam porcentagens ao longo da animação quando o quadro-chave ocorre, e um bloco contendo os estilos para esse quadro-chave. Você pode listar as porcentagens de quadro-chave em qualquer ordem; eles serão tratados na ordem em que devem ocorrer. 

            Exemplo:

                @keyframes slidein {
                    from {
                        margin-left: 100%;
                        width: 300%;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }

            Valores:

            
                - custom-ident: Um nome que identifica a lista de quadros-chave. Deve corresponder à produção do identificador na sintaxe CSS;

                - from: A starting offset of 0%;

                - to: Um deslocamento final de 100%;

                - <percentage>: Uma porcentagem do tempo durante a sequência de animação em que o quadro-chave especificado deve ocorrer.

        @media: The @media CSS at-rule  pode ser usada para aplicar estilos com base no resultado de uma ou mais consultas de mídia, que testam o tipo, as características específicas e o ambiente de um dispositivo. No CSS, a regra @media deve ser posta na parte superior do seu código ou aninhada dentro de algum outro conditional group at-rule.        

            Exemplo: 

                @media screen and (min-width: 900px) {
                    article {
                        padding: 1rem 3rem;
                    }
                }

            Sintaxe

                A @media at-rule é composta por uma ou mais consultas de mídia, cada uma das quais consiste em um tipo de mídia opcional e qualquer número de expressões de recurso de mídia. Várias consultas podem ser combinadas de várias maneiras usando operadores lógicos e não fazem distinção entre maiúsculas e minúsculas. Os estilos correspondentes são aplicados apenas se uma consulta de mídia for calculada como verdadeira, ou seja, quando o tipo de mídia especificado corresponder ao tipo de dispositivo em que o documento está sendo exibido e todas as expressões de recurso de mídia forem computadas como verdadeiras. As consultas que envolvem tipos de mídia desconhecidos são sempre falsas.

            Tipos de Mídia

                Os tipos de mídia descrevem a categoria geral de um dispositivo. A menos que você use não ou apenas operadores lógicos, o tipo de mídia é opcional e o tipo all estará implícito.

                    - all: Adequado para todos os dispositivos;

                    - print: Destinado a material paginado e a documentos visualizados na tela no modo de visualização de impressão. Consulte a seção sobre mídia paginada e a seção de mídia do tutorial de Introdução para obter informações sobre problemas de formatação específicos da mídia paginada;

                    - screen: Destinado principalmente a telas de computador coloridas;

                    - speech: Destinado a sintetizadores de voz.
            
            Recursos de Mídia

                As expressões de recursos de mídia testam características específicas do agente do usuário, dispositivo de saída ou ambiente. Eles são totalmente opcionais. Cada expressão de recurso de mídia deve estar entre parênteses.

                    - width: Largura da janela de visualização;

                    - height: Altura da janela de visualização;

            Operadores lógicos

                Os operadores lógicos não, e, e só podem ser usados para compor uma consulta de mídia complexa. Você também pode combinar várias consultas de mídia em uma única regra usando uma lista separada por vírgulas.

                    - and: O operador e é usado para combinar vários recursos de mídia em uma única consulta de mídia, exigindo que cada recurso encadeado retorne verdadeiro para que a consulta seja verdadeira. Ele também é usado para unir recursos de mídia com tipos de mídia.

                    - not: O operador not é usado para negar uma consulta de mídia, retornando verdadeiro se a consulta retornasse falso. Se estiver presente em uma lista separada por vírgulas, negará apenas a consulta específica à qual se aplica. Se você usar o operador not, deverá especificar um tipo de mídia explícito.

                    - only: O único operador é usado para aplicar um estilo apenas se uma consulta inteira corresponder, e é útil para evitar que navegadores mais antigos apliquem os estilos selecionados. Se você usar o único operador, deverá especificar um tipo de mídia explícito.

                    - comma-separated lists: Cada consulta em uma lista de consulta de mídia separada por vírgulas é tratada separadamente das outras. Se qualquer uma das consultas em uma lista for verdadeira, toda a declaração de mídia retornará verdadeira. Em outras palavras, as listas se comportam como o operador lógico ou.
        
        @page: A regra CSS @page é utilizada para modificar algumas propriedades CSS quando o documento for impresso. Você não pode mudar todas as propriedades CSS com @page. Você poderá somente mudar as margens, orphans, widows, e page breaks do documento. Na tentativa de mudar outra propriedade CSS, elas serão ignoradas. A regra CSS @page pode ser acessada via interface do modelo de objeto CSSPageRule.   
        
            Exemplo:

                @page {
                    margin-left: 50%;
                    margin-top: 50%;
                }

            Pseudo-class

                - :blank: A pseudo classe CSS: blank seleciona elementos de entrada do usuário vazios (por exemplo, <input> ou <textarea>);

                - :first: A :first CSS pseudoclasse, usada com @page at-rule, representa a primeira página de um documento impresso;

                - :left: A pseudo classe CSS: left, usada com a regra @page, representa todas as páginas à esquerda de um documento impresso;

                - :right: A pseudoclasse CSS: right, usada com a regra @page, representa todas as páginas à direita de um documento impresso.
                
*/
