/* Exemplos Seletores Básicos */

/* Exemplo Seletor por Elemento */
span {
    background-color: skyblue;
}

a {
    color: red;
}

a.cor-tag-a{
    color: brown;
}

a, p {
    color: coral;
}

ul li {
    color: darkgreen;
}



/* Exemplo Seletor de Elementos */
.vermelho {
    color: #f33;
}

.amarelo-bg {
    background: #ffa;
}

.class-verde.class-margin-top{
    padding: 5rem;
}

.class-azul .class-margin-bottom{
    padding: 5rem;
}



/* Exemplo Seletor de IDs */
#identificado {
    background-color: DodgerBlue;
}

#verde {
    background-color: greenyellow;
}



/* Exemplo Seletor Universais */
* {
    background-color: DodgerBlue;
}

* {
    margin-top: 1rem;
}



/* Exemplo Seletor de Atributos */
a[target] {
    background-color: yellow;
}

a[target="_blank"] {
    background-color: yellow;
}

[title~="flower"] {
    background-color: yellow;
}

[lang|="en"] {
    background-color: yellow;
}

div[class^="test"] {
    background: #ffff00;
}

div[class$="test"] {
    background: #ffff00;
}

div[class*="test"] {
    background: #ffff00;
}










/* Exemplos Combinadores */

/* Exemplo Seletor de Irmãos Adjacentes */
div + p {
    background-color: yellow;
}  

div + span {
    margin-top: 5rem;
}



/* Exemplo Seletor Gerais de Irmãos */
p ~ span {
    color: red;
}

p ~ ul {
    background: #ff0000;
}



/* Exemplo Seletor de Filhos */
div > p {
    background-color: yellow;
}

ul > li {
    margin-top: 1rem;
}










/* Exemplo Pseudo-classes */

a:active {
    background-color: yellow;
}

input:checked {
    height: 50px;
    width: 50px;
}

input:default {
    box-shadow: 0 0 1px 1px red;
}

input[type="text"]:disabled {
    background: #dddddd;
}

p:empty {
    background: #ff0000;
}

input[type="text"]:enabled {
    background: #ffff00;
}

p:first-child {
    background-color: yellow;
}

p:first-of-type {
    background: red;
}

input:focus {
    background-color: yellow;
}

a:hover {
    background-color: yellow;
}

input:in-range {
    border: 2px solid yellow;
}

input:invalid {
    border: 2px solid red;
}

p:lang(pt) {
    background: yellow;
}

p:last-child {
    background: #ff0000;
}

p:last-of-type {
    background: #ff0000;
}

a:link {
    background-color: yellow;
}

:not(p) {
    background: #ff0000;
}

p:nth-child(2) {
    background: red;
}

p:nth-last-child(2) {
    background: red;
}

p:nth-last-of-type(2) {
    background: red;
}

p:nth-of-type(2) {
    background: red;
}

p:only-child {
    background: #ff0000;
}

p:only-of-type {
    background: #ff0000;
}

input:optional {
    background-color: yellow;
}

input:out-of-range {
    border: 2px solid red;
}

input:read-only {
    background-color: yellow;
}

input:read-write {
    background-color: yellow;
}

input:required {
    background-color: yellow;
}

:root {
    background: #ff0000;
}

:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}

input:valid {
    background-color: yellow;
}

a:visited {
    color: pink;
}










/* Exemplo Pseudo-elementos */

p::after {
    content: " - Remember this";
}

p::before {
    content: "Read this: ";
}

p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

p::first-line {
    background-color: yellow;
}

::selection {
    color: red;
    background: yellow;
}

::placeholder {
    color: red;
}

::marker {
    color: blue;
    font-size: 1.2em;
}

::spelling-error  {
    text-decoration: wavy red;
}

::grammar-error  {
    text-decoration: underline red;
    color: red;
}